{% extends "mainapp/mainbase.html" %}
{% load static %}

{% block content %}
<div class="text-center mx-auto mt-2 w-50"> {% include 'includes/alerts.html' %}</div> 
 <!--================Home Banner Area =================-->
 <section class="banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div
        class="banner_content d-md-flex justify-content-between align-items-center"
      >
        <div class="mb-3 mb-md-0">
          <h2>Profile</h2>
          <p>Very us move be blessed multiply night</p>
        </div>
        <div class="page_link">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'profile' %}">Profile</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->
<div class="container p-0">
  
    <div class="row">
        <div class="col-md-5 col-xl-4 mt-5">

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Profile Settings</h5>
                </div>

                <div class="list-group list-group-flush" role="tablist">
                    <a class="list-group-item list-group-item-action active"  href="{% url 'profile' %}" role="tab">
                      Account
                    </a>
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="{% url 'changepassword' %}" role="tab">
                      Password
                    </a>
                    <a class="list-group-item list-group-item-action"  href="{% url 'myOrders' %}" role="tab">
                     My Orders
                    </a>
                    <a class="list-group-item list-group-item-action"  href="{% url 'useraddress' %}" role="tab">
                 My Address
                    </a>
                    <a class="list-group-item list-group-item-action"  href="{% url 'editprofile' %}"role="tab" >
                    Edit Profile
                    </a>
                    
                </div>
              </div>
                <a class="btn btn-light btn-block mt-3  " href="{% url 'userlogout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
            
        </div>
        <div class="col-md-7 col-xl-8 mt-5">
            <div class="tab-content">
                {% for message in messages %}
                {{message}}
                {% endfor %}
               

                           
                           

             
                <h5 class="card-title">Password</h5>
                <form method="post" class="form">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                  </div>
                  <div class="form-group">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                  </div>
                  <div class="form-group">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                  </div>
                  <button type="submit" class="btn btn-primary">Change password</button>
                </form>
                           
</div>
</div>
</div>
</div>
</div>
{% endblock %}
